# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:
    branches:
    - "*"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: borales/actions-yarn@v2.3.0
      - run: |
         yarn ganache
         yarn test

